In [12]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from datetime import datetime

df = pd.read_csv("aapl.csv")

df.head()

        Date    Open    High     Low   Close    Volume
0   7-Jul-17  142.90  144.75  142.90  144.18  19201712
1   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2   5-Jul-17  143.69  144.79  142.72  144.09  21569557
3   3-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [13]:
df['Date'] = pd.to_datetime(df['Date'])

df = df.sort_values('Date', ascending=True)

df.head()

           Date  Open  High   Low  Close    Volume
3999 2001-08-10  1.36  1.38  1.33   1.36  46230800
3998 2001-08-13  1.36  1.38  1.34   1.36  36241800
3997 2001-08-14  1.37  1.38  1.33   1.34  55902000
3996 2001-08-15  1.34  1.35  1.30   1.32  65930200
3995 2001-08-16  1.30  1.34  1.28   1.33  70813400

# Indicators

In [19]:
# Lets start by getting mean price, and standard deviation weekly, monthly and yearly

mean_price_5d = pd.rolling_mean(df['Close'], window=5).shift(1)
mean_price_30d = pd.rolling_mean(df['Close'], window=30).shift(1)
mean_price_365d = pd.rolling_mean(df['Close'], window=365).shift(1)

In [20]:
df['mean_price_5d'] = mean_price_5d
df['mean_price_30d'] = mean_price_30d
df['mean_price_365d'] = mean_price_365d

# LinearRegression: predicting our prices.

In [25]:
from sklearn.linear_model import LinearRegression

df = df.dropna(axis=0)

# Lets separate the df in 2: train(biggining till 2013) and test(2013 till today)

train = df[df['Date'] < datetime(year=2013, month=1, day=1)]
test = df[df['Date'] >= datetime(year=2013, month=1, day=1)]

features = ['mean_price_5d', 'mean_price_30d', 'mean_price_365d']

In [24]:
model = LinearRegression()
model.fit(train[features], train['Close'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').